a {
  text-decoration: none;
  color: #849fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.Wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  padding: 30px 0;
}

.NameAndPhoto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.PhotoMobile {
  width: 100px;
  border-radius: 100%;
}

.PhotoDesktop {
  display: none;
}

.Name {
  color: #38363b;
  font-size: 20px;
  padding-top: 30px;
}

.ItemWrapper {
  padding: 20px 0;
}

.Title {
  color: #38363b;
  padding-bottom: 10px;
  font-size: 18px;
}

.Description {
  color: #9a979d;
  font-size: 16px;
}

.DescriptionItem {
  padding: 5px 0;
  font-weight: 300;
}

.CompanyName {
  font-size: 14px;
  padding-bottom: 3px;
}

.Date {
  margin-bottom: 5px;
  font-size: 12px;
  background-color: #fafafa;
  display: inline-block;
}

.Position {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 3px;
}

.CompanyDescription {
  font-weight: 300;
  font-size: 14px;
}

.DescriptionExperienceItem {
  padding-bottom: 10px;
}

@media (min-width: 800px) {
  .Wrapper {
    padding: 70px 0;
    width: 60%;
  }
  .NameAndPhoto {
    flex-direction: row;
  }
  .Name {
    font-size: 30px;
    padding-top: 0;
  }
  .PhotoMobile {
    display: none;
  }
  .PhotoDesktop {
    display: block;
    width: 100px;
    border-radius: 100%;
  }
}